.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  margin-top: 92px;
}

@media screen and (max-width: 680px) {
  .place__title {
    min-width: calc(100% - (16px*2));
    margin-top: 50px;
    font-size: 32px;
    line-height: 1.09;
    justify-content: start;
  }
}