.header {
  max-width: 1184px;
  padding-top: 28px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1290px) {
  .header {
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0 24px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    padding-top: 16px;
    margin: 0 16px;
  }
}