.cover__text {
  color: #FFFFFF;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 680px) {
  .cover__text {
    max-width: 260px;
  }
}
